<!DOCTYPE html>
<html>

<head>
<title><%= movie.Title %></title>
<link rel="stylesheet" href="/styles.css">
</head>

<body>

<div class="container">

<h1><%= movie.title %></h1>

<div class="movie-card">

<img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>">
<div class="movie-info">

<p>⭐ Rating: <%= movie.imdbRating %></p>

<p>📅 Released: <%= movie.Released %></p>

<p>🎬 Genre: <%= movie.Genre %></p>

<p>🎭 Actors: <%= movie.Actors %></p>

<p><%= movie.overview %></p>

</div>

</div>
<button onclick="history.back()" class="back-btn">⬅ Back</button>

</div>

</body>

</html>